/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
h1 {
  width: 342px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  margin: 18px 0px;
  color: black
}
p {
  font-size: 13px;
  margin: 33px;
}
body {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
table {
  border-collapse: separate;
  border-spacing: 0
}
table th {
  line-height: 18px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: 700;
  color: black;
}
table td {
  display: table-cell;
  padding: 0px 5px 7px 5px;
}
h2 {
  font-size: 19.5px;
  line-height: 18px;
  font-weight: 700;
  width: 342px;
  height: 31px;
  color: black;
  margin: 10px;
}
.title_field, .body_area {
  margin-bottom: 10px;
}
.errors_count {
  color: red;
}
.update_book {
  margin-bottom: 10px;
}
