<% if @book.errors.any? %>
<!--any?→@bookの各要素に1つでもerrorが含まれていればtrue-->
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>